


body{
    background-color:  #9c9f84;
    margin: 0px;
    font-family: verdana,Georgia,serif;
    font-size: 15px;
   
}


h2{
    font-size:250%;
    text-align: center;
    color: #e5e4d7;
    font-family: "Gill sans";
    margin: 0px;
    position: relative;
    top: 50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform: translateY(-50%);
}



#firstheader{
    background-color: #5c755e;
    margin: 10px;
    height: 100px;
    border-radius:5px;
}
#login1{
    margin-left: 400px;
    margin-top: 200px;
    margin-right: 400px;
}

fieldset{
    margin:0px;
}

#theloginform{
    display:table;
    padding: 10px;
    margin-left: 50px;
    
}